<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  
  <param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find bionicarm_description)/urdf/bionicarm_no_fric_no_joint_limit.urdf.xacro'" />
      
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model bionicarm -param robot_description"/>
</launch>
